.vscode

# This ignores all node_modules folders
node_modules

# This ignores your secret .env file
.env

README.md

# Ignore everything in the avatars folder...
#server/uploads/avatars/*

# ...EXCEPT the .gitkeep file (so the folder structure stays)
# server/uploads/avatars/.gitkeep